.detail {
    display: flex;
    flex-direction: column;

    @media (min-width: 768px) {
        flex-direction: row;
    }
}


.detail {
    .detail__title {
        h2 {
            font-size: 2.2rem;
            font-weight: 700;
            color: #fff;
            line-height: 1;
            margin: 0;
            background-color: rgba(0, 0, 0, .3);
            padding: 7.3rem 0 7.5rem 1.6rem;

            @media (min-width: 768px) {
                font-size: 3.2rem;
                background-color: rgba(0, 0, 0, .25);
                padding: 14.4rem 0 14.4rem 36.7rem;
            }
        }
    }
}


.detail {
    .detail__search {
        .detail__title {
            h2 {
                @media (min-width: 768px) {
                    padding-left: 33.6rem;
                }
            }
        }
    }
}



.detail {
    .detail__question {
        background-image: url('../images/detail/detail_sp_01.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        height: 17rem;
        width: 100%;


        @media (min-width: 768px) {
            background-image: url('../images/detail/detail_pc_01.jpg');
            height: 32rem;
        transition:1s all;
        }

    }

    .detail__search {
        background-image: url('../images/detail/detail_sp_02.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        height: 17rem;
        width: 100%;

        @media (min-width: 768px) {
            background-image: url('../images/detail/detail_pc_02.jpg');
            height: 32rem;
        transition:1s all;
        }
    }
}


// ---------- hover設定 ----------

.detail {
    .detail__wrap {
        @media (min-width: 768px) {
            overflow: hidden;
            width: 50%;
        }
    }
}
.detail {
    .detail__question:hover {
        opacity: .5;

        @media (min-width: 768px) {
            transform: scale(1.2, 1.2);
            transition: 1s all;
        }
    }
}

.detail {
    .detail__search:hover {
        opacity: .5;

        @media (min-width: 768px) {
            transform: scale(1.2, 1.2);
            transition: 1s all;
        }
    }
}
