.btn-list {
    margin-top: 5.9rem;
    padding-top: 3.35rem;
    padding-bottom: 0.9rem;

    @media (min-width: 768px) {
        margin-top: 8.4rem;
        margin-bottom: 1.7rem;
        padding-bottom: 0;
        position: relative;
    }

    ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0;
        padding: 0;

        @media (min-width: 768px) {
            flex-direction: row;
            justify-content: center;
            position: absolute;
            top: -2.7rem;
            left: 41rem;
        }

        li {
            margin-bottom: 1.85rem;

            @media (min-width: 768px) {
                margin-right: 4rem;
                margin-bottom: 3.2rem;
            }
        }
    }
}


.btn-list__button--shape {

    h2 {
        margin: 0;
    }

    a {
        font-size: 1.6rem;
        font-weight: 700;
        border-radius: 3.5rem;
        background-image: none;

        @media (min-width: 768px) {
            font-size: 2.4rem;
            border-radius: 3.8rem;
        }


    }
}

.btn-list__button--1 {
    a {
        background-color: #77cb33;
        padding: 1.2rem 5.3rem 1.25rem 5.25rem;

        @media (min-width: 768px) {
            padding: 1.9rem 6.2rem 2.1rem 6.2rem;
        }
    }
}

.btn-list__button--2 {
    a {
        background-color: #f6aa00;
        padding: 1.2rem 5.3rem 1.25rem 5.25rem;

        @media (min-width: 768px) {
            padding: 1.9rem 6.2rem 2.1rem 6.2rem;
        }
    }
}

.btn-list__button--3 {
    a {
        background-color: #3ac8ad;
        padding: 1.2rem 7.7rem 1.25rem 7.7rem;

        @media (min-width: 768px) {
            padding: 1.9rem 9.8rem 2.1rem 9.8rem;
        }
    }
}